@import "../../assets/style/scss/config";

.header {
  background-color: $main-color;
  padding: 0 20px;
  gap: 5px;
  .link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    width: 405px;
    .img {
      height: 100px;
    }
    .title {
      color: $font-color;
    }
  }
}
